/****************************************
  Inherited Syles
*****************************************/

/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

 html {
    box-sizing: border-box;
    color: #444;
    font: 12pt 'Open Sans', 'Kaushan Script', Arial;
    font-weight: 300;
}
/*font-family: 'Kaushan Script', cursive;
*//****************************************
  Resets
*****************************************/

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}
 
/****************************************
  Defaults
*****************************************/
body {
	margin: 0;
}

a {
	text-decoration: none;
}

header {
	position: relative;
	height: 60px;
}

/****************************************
  Helpers
*****************************************/
 .cf::after {
    content: '';
    display: block;
    clear: both;
} 

/****************************************
  Layout
*****************************************/

/**
* Header 
**/

.panel {
	margin: 0 auto;
}

.panel.hero {
	background: radial-gradient(rgba(135, 78, 148, 0.27), #874E94), url(/images/shoe.jpg);
	background-size: cover;
	position: relative;

}

.panel.hero > div {
	height: 375px;
}

.panel.hero header:nth-child(1) {
	background-color: #4B204B;
}

.homepage-link {
	display: inline-block;
	margin: 2px;
	font: 3em 'Lobster', cursive;
}

 .homepage-link > a {
	color: white;
} 

/**
* Nav
**/

.primary-nav {
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	display: inline;
	width: 300px;
}

.primary-nav > a {
	font-weight: bold;
	padding: 20px;
	font-size: 14pt;
}

.primary-nav > a:hover {
	background-color: rgba(135, 78, 148, 0.65);
	color: #4B204B;
}

.secondary-nav > a {
	display: inline-block;
	font-weight: bold;
	color: #874E94;
	padding: 15px;
	font-size: 14pt;
}

.secondary-nav > a:hover {
	text-decoration: line-through;
	text-transform: uppercase;
	color: rgba(135, 78, 148, 0.65);
}

/**
* Primary Content
***/

.panel.primary-content {
	background-color: rgba(241, 241, 241, 1);
	min-height: 600px;
}

/****************************************
  Components
****************************************/

.container {
	background-color: rgba(241, 241, 241, 1);
	min-height: 165px;
	width: calc(46% - 10px);
	margin: 10px;
	display: inline-block;
}

.mediaImg {
	float: left;
}

.mediaImg > img {
	width: 150px;
	display: block;
}

.mediaContent {
	padding: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}

.mediaContent a {
	font-weight: bold;
	color: #874E94;
}

.mediaContent a:hover {
	text-decoration: overline;
	text-transform: lowercase;
	color: rgba(135, 78, 148, 0.65);
}

.mediaImg > img, .mediaContent {
	height: 165px;
}

.mediaImg, .mediaContent {
	background-color: #FFF;
}

.product {
	margin: 10px;
}

.product option {
	background-color: rgba(135, 78, 148, 0.65);
	font-size: 14pt;
}

.product select {
  background-color: #874E94;
  color: #FFF;
  font-weight: bold;
}

.product button {
	background-color: #fff;
	color: #874E94;
	border-radius: 5px;
	font-weight: bold;
	border: 2px solid #874E94;
}

.user > div, button {
	margin: 10px;
}

.user > div input {

  padding: 5px;
  border: 2px solid #874E94;
  transition: border 0.3s;
  color: #874E94;
  font-weight: bold;
}

.user button {
	background-color: #874E94;
	color: #FFF;
	border-radius: 5px;
	font-weight: bold;
	border: 2px solid #874E94;
}