<form action="#" class="product">

    <select name="type">
      <option selected>Style</option>
      <option value="casual">Casual</option>
      <option value="dress">Dress</option>
      <option value="basketball">Basketball</option>
      <option value="sandal">Sandal</option>
      <option value="skate">Skate</option>
    </select>

    {{{ size }}}

    {{{ color}}}

  <button>Submit</button>
  
</form>
