<form action="#" class="user">
  <div>
    <select name="type" value="{{type}}">
    <option value="casual">Casual</option>
    <option value="dress">Dress</option>
    <option value="basketball">Basketball</option>
    <option value="sandal">Sandal</option>
    <option value="skate">Skate</option>
  </div>
  <div>
    <select name="size" value="{{size}}">
    <option value="7">7</option>
    <option value="7.5">7.5</option>
    <option value="8">8</option>
    <option value="8.5">8.5</option>
    <option value="9">9</option>
    <option value="9.5">9.5</option>
    <option value="10">10</option>
    <option value="10.5">10.5</option>
    <option value="11">11</option>
    <option value="11.5">11.5</option>
    <option value="12">12</option>
    <option value="12.5">12.5</option>
    <option value="13">13</option>
    <option value="13.5">13</option>
    <option value="14">14</option>
  </div>
  <div>
    <select name="color" value="{{color}}">
    <option value="black">Black</option>
    <option value="white">White</option>
    <option value="gray">Gray</option>
    <option value="blue">Blue</option>
    <option value="red">Red</option>
    <option value="purple">Purple</option>
    <option value="yellow">Yellow</option>
    <option value="green">Green</option>
  </div>
  <button>Submit</button>
</form>
