<form action="#" class="user">
  <div>
    Type: <input type="text" name="name" value="{{type}}">
  </div>
  <div>
    Size: <input type="text" name="hobby" value="{{size}}">
  </div>
  <div>
    Color: <input type="text" name="hobby" value="{{color}}">
  </div>
  <button>Submit</button>
</form>