<form action="#" class="user">
  <div>
    Name: <input type="text" name="name" value="{{name}}">
  </div>
  <div>
    Hobby: <input type="text" name="hobby" value="{{hobby}}">
  </div>
  <button>Submit</button>
</form>
